body{
  background-color: azure;
  color: rgb(59, 138, 59);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

#container {
  width: 850px;
  margin: 0 auto;
}
@media (max-width: 950px) {
  /* For a screen < 960px, this CSS will be read */
  #container {
    width: 700px;
  }
}
@media (max-width: 800px) {
  /* For a screen < 720px, this CSS will be read */
  #container {
    width: 615px;
  }
}
@media (max-width: 700px) {
  /* For a screen < 720px, this CSS will be read */
  #container {
    width: 550px;
  }
}
@media (max-width: 600px) {
  /* For a screen < 540px, this CSS will be read */
  #container {
    width: 500px;
  }
}

.card{
  margin: 20px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
  background-color: rgb(168, 188, 168);
  border-radius: 10px;
  text-align: center;
}

h1 h2 h3{
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  line-height: 3;
}

#profile-pic{
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 6px 6px 7px rgba(0, 0, 0, .4);
}

#profile-pic:hover{
  box-shadow: 6px 6px 7px rgba(0, 0, 0, .4);
  transition: 1s ease;
}

a{
  text-decoration: none;
  color: rgb(36, 62, 36);
}
a:hover {
  color: white;
  transition: .5s ease;
}

ul{
  list-style-type: none;
  padding: 0;
}

#wagon-link {
  padding: 15px;
  background-color: rgb(117, 158, 117);
  border-radius: 10px;
}

ul.social-list li {
  font-size: 80px;
  display: inline;
}
